<!DOCTYPE html>
<html>
    {% include "head.html" %}

    <body>
        {% include "header.html" %}

        {% include "navbar.html" %}

        <content>
            {% if page.content %}{{ page.content | safe }}
            {% else %}{{ section.content | safe }}
            {% endif %}

            {% include "table-of-contents.html" %}
        </content>

        {% include "footer.html" %}
    </body>
</html>
